*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #33325a;
    padding:0;
    margin:0;
}
.top-part{    
    position:fixed;
    width:100%;
    z-index:999;
}

.logo {
    font-size:40px;
    text-align: center;
    font-weight: 600;
    color:black;
    
}
.logo a {
    position: relative;
    color: #fefefe;
    text-decoration: none;
  }
.logo a:hover{
    color:#fefefe
}
.logo a::before{
    content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fefefe;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}
.logo a:hover::before {
    transform: scaleX(1);
  }




header{
    width:100%;
    height:80px;
    background: #111011;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}
.logo{
    font-size:30px;
    font-weight:bold;
    color:#fefefe;
}
.hamburger{
    display:none;
}
.nav-bar ul{
    display:flex;
    
}
.nav-bar ul li a{
    display:block;
    color:#fefefe;
    font-size:20px;
    padding:10px 25px;    
    transition:0.5s;
    margin:0 5px 
}
#active{
    color:#11101b;
    background: #fefefe;
    border-radius:50px ;
}
.nav-bar ul li a:hover{
    color:#11101b;
    background:#fefefe;
    border-radius:50px;
}
.nav-bar button{
    background: #11101b;
    border:none;
}

.dropdown{
    float:left;
    overflow: hidden;
}
.dropdown-content{
    display:none;
    position:absolute;
    background-color: #11101b;
    min-width:160px;
    padding-bottom:20px;
    
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6);
    z-index:1;
}
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size:5px;    
  }
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }



main{
    padding-top:10rem;
    padding:10rem;
    
}


.main{    
    padding-top:0.1rem;
   
}
.main-image{
    margin-bottom:5rem;
}
.main-image img{
    margin-left:16%;
    width:52rem;
    border-radius:3rem;

}
.table{
  background: #fefefe;
  margin-bottom:5rem;
  width:100%;
  height:60rem;
  border-radius: 0.5rem;
}
.table-content{
    position:relative;
    z-index:1;
    top:2rem;
    left:10.5rem;
    width:75%;
    height:60%;
    background:coral;
    border-radius: 0.5rem;
}






